#container {
    width : 1000px
    ;margin : 0 auto
}
div{
    padding: 20px;
    border : 1px solid gray;
}
#header{
    margin-bottom: 20px;
}

#contents {
    width: 700px;
    float : left;
}

#sidebar{
    width:200px;
    float : right;
    margin-bottom: 20px;
    background-color: gold;
}
#footer{
    clear: both;
}