div.container {
    width: 1000px;
    margin : 0 auto;
    padding: 20px;
    border: none;
    /* border: 1px solid gray; */
}
div{
    border: 1px solid gray;
}
#header{
    margin-bottom : 20px;
}

#sidebar1{
    float: left;
    width: 150px;
    margin-right: 80px;
}
#content{
    margin-bottom : 20px;
    width : 530px;
    float: left;
}
#sidebar2{
    float: right;
    width: 150px;
}
h2 {
    text-align: center;
}
#footer{
    clear: both;
}