#container{
    width: 1000px;
    margin : 0 auto;
    border : 1px solid gray
}
div {
    padding: 20px; border:1px solid gray;
}

#header {
    margin-bottom: 20px;
}
#sidebar1{
    float: left;
    text-align: center;
    width : 150px
    ;margin-right: 30px;
}

#contents{
    float : left;
    width: 500px;
    margin-bottom: 30px;
}
#sidebar2{
    float: right;
    text-align: center;
    width : 150px
}
#footer{
    clear:both
}