@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{ font-family:'Cafe24SsurroundAir' ;}

.container {
    width: 100%;
}
.header {
    height: 300px;
    background: url(../images/header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.header > nav {
    height :55px;
    background-color: black;
    
}
.header > nav > ul {
    margin: 0;
    padding : 5px;
    float: left;
}
nav > ul > li {
    float: left;
    font-size: 12px;
    padding : 5px;
    margin : 10px 20px;
    list-style: none;
}
a {
    text-decoration: none;
    
}
a:link, a:visited { color: whitesmoke;}
a:hover, a:active { color : gold}
.img {
    display: none;
}
h2{ padding-top: 20px; padding-left: 50px;}

.section:nth-child(3){
    background-color: gold;
    padding: 0px auto;
}
.content{
    margin : 40px auto 10px;
    width:90%;
    padding : 20px;
    box-sizing: border-box;
}
.text > ol {
    padding-left: 100px;
}
footer {
    margin-top: 100px;
    background-color: black;
    height: 100px;
    color: whitesmoke;
    text-align: center;
    padding-top: 40px;
}

@media screen and (min-width: 768px) {
    .header { height: 400px;}
    #intro, #map { float: left; width: 50%; height: 300px;}
    #choice { clear: both;}
}

@media screen and (min-width: 1024px) {
    .container{ width: 1000px; margin: 0 auto;}
    .header { height: 500px;}

    .img { display: block;}
    #intro, #map, #choice {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        position: relative;
    }
    #intro > .img, #map > .img{
        float: left;
        ;
    }
    .text {
        width : 49%
    }
    #intro .text, #map .text{
        float: right;
        margin-top: -200px;
    }
    
}